{% extends 'member/member_base.html.twig' %}

{% block template %}
    {% embed 'member/member_base_layouts/member_base_free_grid.html.twig' %}
        {% block midle %}
            <!-- todo implement the settings page -->
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary"> {{ button_label|default('Send') }} </button>
            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}