<!-- Center Lower Block -->
<div class="profile-user" data-controller="freegrid">
    {% block midle %}
    {% endblock %}
</div>

{% block pagestate %}
    <span id="page-state" data-layout="free"></span>
{% endblock %}