<!-- Center Lower Block -->
<div class="profile-user">
    {% block midle %}
    {% endblock %}
</div>

<!-- Right Block -->
<div class="profile-character">
    {% block right %}
    {% endblock %}
</div>

<span id="page-state" data-grid="overview"></span>